@import url(https://fonts.googleapis.com/css?family=Domine);

@viewport{
    zoom: 1.0;
    width: device-width;
}

.header {
	text-align: center;
}

.header h1 {
	font-family: "Domine", serif;
}

.footer {
	text-align: center;
}

a:link {
	font-weight: normal;
}

a:visited {
	color: orange;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
	font-weight: normal;
}