@import url(https://fonts.googleapis.com/css?family=Domine);

.header {
	text-align: center;
}

.header h1 {
	font-family: "Domine", serif;
}

.footer {
	text-align: center;
}

.navTable {
	width: 20%;
	margin: 15px;
}