a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: green;
}

a:active {
	text-decoration: none;
}

.tableDivision {
	text-align: center;
}

.centerText {
	text-align: center;
}

#padArea {
	margin-left: 5%;
}
