@viewport{
	zoom: 1.0;
	width: device-width;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: green;
}

a:active {
	text-decoration: none;
}

.tableDivision {
	text-align: center;
}

.centerText {
	text-align: center;
}

#padArea {
	margin-left: 5%;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

#trackTable th {
	background-color: grey;
}

#trackTable td {
	font-style: italic;
	text-align: center;
}

