@import url(https://fonts.googleapis.com/css?family=Domine);

.header {
	text-align: center;
}

.header h1 {
	font-family: "Domine", serif;
}

.footer {
	text-align: center;
}

.navTable {
	width: 20%;
	margin: 15px;
}

a {
	font-weight: normal;
}

a:visited {
	color: orange;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
	font-weight: normal;
}